body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d699d1;
    color: #fff;
    padding: 50px;
    position: relative;
    text-align: center;
    
}

.casa {
    position: absolute; /* Posiciona o ícone em relação ao header */
    left: -40px; /* Distância do lado esquerdo */
    top: 70px; /* Distância do topo */
    width: 350px; /* Largura do ícone */
    height: 20px; /* Altura do ícone */
    border-radius: 50%; /* Borda arredondada */
    background-color:#d699d1; /* Cor de fundo */
    display: flex; /* Centraliza a imagem dentro da div */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.casa img {
    width: 100%; /* Deixa a imagem responsiva */
    
}

.opc {
    text-align: center;
padding: 2%;
font-size: x-large;
font-weight: 550;
    

} 

.carrossel {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
}

.carousel-images {
    display: flex;
    text-align: center;
}

.carousel-images img {
    width: 100%;
    text-align: center;
    display: none;
}

.carousel-images img.active {
    display: block;
    text-align: center;
}

button {
    background-color:#d699d1;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
    
}

.next {
    right: 10px;
}

.categorias {
    text-align: center;
    margin: 20px;
}

.categoria {
    margin-bottom: 20px;
    text-align: center;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
    text-align: center;
}

.produto img {
    width: 100%;
    height: auto;
   
}

